{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include '_invite_link.html' %}
    <div class="container">
    <div class="row player-name-row">
        <div class="col-12">
            
            <div class="text-center" id="waiting">
                <img src="{% static 'img/waiting.png' %}" width="100%" />
                <h3>Answer submitted. Waiting for the other players</h3>

                <div class="waiting-btns">
                    <a role="button" href="/cah/{{party.party_name}}/party"
                        class="btn btn-success" id="refresh">Refresh</a>
                    <a role="button"  href="/join/{{party.party_name}}?party_type={{party.party_type}}"
                       class="btn btn-warning" id="rejoin">Rejoin Party</a>
                </div>
            </div>
            <div class="text-center" id="winner_display" style="display:none">
                <h1>You chose <span id="winner"></span> answer!</h1>
            </div>  
            <div class="party-starting text-center"></div>
            {{ party.party_name|json_script:"party_name" }}
            {{ player.player_name|json_script:"player_name" }}
            {{ ws_protocol|json_script:"ws_protocol" }}
            <script>

                const queryString = window.location.search;
                const searchParams = new URLSearchParams(queryString);
                const get_winner= searchParams.get("winner");
                const party_name = JSON.parse(document.getElementById('party_name').textContent);
                const player_name = JSON.parse(document.getElementById('player_name').textContent);
                const ws_protocol = JSON.parse(document.getElementById('ws_protocol').textContent);
                const connection_uri = `${ws_protocol}://${window.location.host}/ws/${party_type}/${party_name}/`; 

                const channel_options = {
                    "party_type": party_type,
                    "party_name": party_name,
                    "connection_uri": connection_uri,
                    "source": "waiting_screen"
                }
                setChannels(channel_options);
                processCahSubmission(winner);
            </script>
        </div>
    </div>
</div>
{% endblock %}