<h2 class="party-header">Party Size</h2>
<div class="form-group category-select">
    <select name="num_players" class="form-control">
        <option value="2">2 Players</option>
        <option value="3">3 Players</option>
        <option value="4">4 Players</option>
        <option value="5">5 Players</option>
        <option value="6">6 Players</option>
        <option value="7">7 Players</option>
        <option value="8">8 Players</option>
        <option value="9">9 Players</option>
        <option value="10">10 Players</option>
    </select>
</div>
<h2 class="party-header">Number of Rounds</h2>
<div class="form-group">
    <input class="form-control" name="num_rounds" value="10" />
</div>