{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center finished-players-list">
                <img src="{% static 'img/first_place.png' %}" class="first-place-img">
                {% if winners|length > 1 %}
                <h4>It's a tie!</h4>
                {% endif %}
                <ul class="text-center">
                    {% for winner in winners %}
                    <li>
                        <span class="badge badge-pill badge-dark username">
                            {{winner.player_name}} - {{winner.score}}pts
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                {% if other_players|length > 0 %}
                <hr />
                    <div class="finished-players-list">
                        <strong>Following</strong>
                        <ul class="text-center">
                            {% for other in other_players %}
                            <li>
                                <span class="badge badge-pill badge-dark username">
                                    {{other.player_name}} - {{other.score}}pts
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="button-menu text-center">
                <form action="/recreate_party" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="party_id" value="{{party.party_name}}" />
                    <button role="submit" class="btn btn-success">Play Again (same settings)</button>
                </form>
                <a role="button" href="/" class="btn btn-primary">Create New Party</a>
            </div>
            <div class="party-starting"></div>

            <div class="party-starting text-center"></div>
            {{ party.party_name|json_script:"party_name" }}
            <script>
                let party_name = JSON.parse(document.getElementById('party_name').textContent);
                const connection_uri = 'wss://'
                    + window.location.host
                    + '/ws/party/'
                    + party_name
                    + '/';
                const partySocket = new WebSocket(connection_uri);
                
                partySocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    if(data.message == 'party_recreated'){
                        timer(10);
                    }
                    if(data.player_name != null && data.player_name != undefined) {
                        appendIfNotExists(data.player_name);
                    }

                };
        
                partySocket.onclose = function(e) {
                    console.error('Party socket closed unexpectedly');
                };

                function timer(seconds){
                    $('.party-starting').text(`New Party starting in ${seconds}s`)
                    if(seconds > 0){
                        let s = seconds-1;
                        setTimeout(function(){
                            timer(s);
                        }, 1000);
                    } else {
                        window.location.replace('/party/'+party_name);
                    }
                }
            </script>

        </div>
    </div>
</div>
{% endblock %}