{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row player-name-row">
        <div class="col-12">
            
            <h1>Answer submitted. Waiting for the other players</h1>
            
            {{ party_name|json_script:"party_name" }}
            <script>
                
                const party_name = JSON.parse(document.getElementById('party_name').textContent);
                const connection_uri = 'wss://'
                    + window.location.host
                    + '/ws/party/'
                    + party_name
                    + '/';
                console.log(connection_uri)
                const chatSocket = new WebSocket(connection_uri);
        
                chatSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    console.log(data);
                    if(data.message == 'round_complete'){
                        window.location.replace("/party/" + party_name)
                    }
                };
        
                chatSocket.onclose = function(e) {
                    console.error('Chat socket closed unexpectedly');
                };
            </script>
        </div>

    </div>
</div>
{% endblock %}