{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div class="container">
    <div class="row player-name-row">
        <div class="col-12">
            <div class="text-center">
                <h3>Welcome to a new {{ party.party_type|capitalize }} Party!</h3>
                {{party.created}}
                <div class="players-list">
                    <strong>Joined Players ({{party.players.all|length}} of {{party.num_players}})</strong>
                    <ul class="text-center">
                        {% for player in party.players.all %}
                        <li>
                            <span class="badge badge-pill badge-dark username">
                                {{player.player_name}}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="party-starting text-center"></div>
            {{ party.party_name|json_script:"party_name" }}
            {{ party.num_players|json_script:"num_players" }}
            {{ party.players.all|length|json_script:"joined_players" }}
            <script>
                let party_name = JSON.parse(document.getElementById('party_name').textContent);
                let num_players = JSON.parse(document.getElementById('num_players').textContent);
                let joined_players = JSON.parse(document.getElementById('joined_players').textContent);
                console.log(num_players);
                if(num_players == joined_players){
                    timer(10);
                }

                function timer(seconds){
                    $('.party-starting').text(`Starting in ${seconds}s`)
                    if(seconds > 0){
                        let s = seconds-1;
                        setTimeout(function(){
                            timer(s);
                        }, 1000);
                    } else {
                        window.location.replace('/party/'+party_name);
                    }
                }
                               
                const connection_uri = 'wss://'
                    + window.location.host
                    + '/ws/party/'
                    + party_name
                    + '/';
                console.log(connection_uri)
                const partySocket = new WebSocket(connection_uri);
        
                partySocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    if(data.message == 'game_starts'){
                        timer(10);
                    }
                };
        
                partySocket.onclose = function(e) {
                    console.error('Party socket closed unexpectedly');
                };
            </script>

        </div>
    </div>
</div>
{% endblock %}